<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{title}} - Microblog</title>
	{% else %}
	<title>Welcome to Microblog</title>
	{% endif %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div>Microblog: 
		<a href="/index">Home</a>
		<a href="/login">Login</a>
	</div>
	
	<hr/>
	{% block content %} {% endblock %}
</body>
</html>